{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "@Assets": "./src/assets",
          "@Api": "./src/api",
          "@Components": "./src/components",
          "@Router": "./src/router",
          "@Screens": "./src/screens",
          "@Types": "./src/types",
          "@Utils": "./src/utils"
        }
      }
    ]
  ]
}
